.appbar {
    padding-block: 1rem;
    box-shadow: none !important;
    border-bottom: 1px solid #d1d1d1;
}  
.MuiBox-root .variant-title {
    color: #444444;
    font-weight: bold;
}
.graph-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #333;
    align-items: flex-end;
}
.graph-wrap.border-0 {
    border: 0px;
}
.graph-box {
    width: 80px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}